@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--bg: #eeeff3;
	--primary: #e3e3e9;
	--secondary: #383838;
	--accent: #1f31d1;
	--accent-hover: #1523a3;
	--danger: #a11d1d;
	--danger-hover: #771313;
	--warning: #d1a31f;
	--warning-text: #8a690e;
	--border: #83849654;
}

body {
	margin: 0;
	background-color: var(--bg);
}

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

h1,
h2,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	padding: 0.3rem 1rem;
	border: 1px solid var(--border);
	border-radius: 0.6rem;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.15s;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.btn:hover {
	background-color: var(--border);
}

.btn-primary {
	background-color: var(--accent);
	border-color: var(--accent);
	transition:
		background-color 0.15s,
		border-color 0.15s,
		box-shadow 0.15s;
	color: white;
}

.btn-primary:hover {
	background-color: var(--accent-hover);
	border-color: var(--accent-hover);
	box-shadow: 0 0 10px rgba(31, 49, 209, 0.65);
}

.btn-danger {
	border-color: var(--danger);
	color: var(--danger);
}

.btn-danger:hover {
	background-color: var(--danger-hover);
	border-color: var(--danger-hover);
	color: white;
}

select {
	padding: 0.3rem 0.6rem;
	border: 1px solid var(--border);
	border-radius: 0.6rem;
	cursor: pointer;
	background-color: transparent;
	transition:
		background-color 0.15s,
		border-color 0.15s;
	font-size: 1rem;
}

select:hover {
	background-color: var(--border);
}

select:focus {
	outline: none;
	border: 1px solid var(--accent);
	background-color: transparent;
}

input {
	padding: 0.3rem 0.6rem;
	border: 1px solid var(--border);
	border-radius: 0.6rem;
	cursor: text;
	background-color: transparent;
	font-size: 1rem;
	transition:
		background-color 0.15s,
		border-color 0.15s;
}

input:hover {
	background-color: var(--border);
}

input:focus {
	outline: none;
	border: 1px solid var(--accent);
	background-color: transparent;
}

#showMenuBtn {
	display: none;
	align-items: center;
	justify-content: center;
	padding: 0.4rem;
}

#showMenuBtn * {
	font-size: 1.2rem;
}

@media (max-width: 800px) {
	:root {
		font-size: 13px;
	}
}

#credits {
	text-decoration: underline;
	margin-top: auto;
}
